@import './variables.scss';

.header {
  height: 80vh;
  width: 100%;
  position: relative;

  .img {
    height: 80vh !important;
    width: 100%;
  }

  .baners {
    bottom: 0;
    position: absolute;
    color: $color-secondary;

    .banerSmall {
      padding: 2.5rem 5rem;
      background-color: $color-primary;
      display: inline-block;
      font-size: 2.3rem;
      font-weight: 600;
    }

    .banerBig {
      padding: 3.5rem 5rem;
      background-color: $color-tetiary;
      display: flex;
      font-weight: 600;

      div:first-child {
        padding-right: 6rem;
        border-right: 2px solid black;
      }

      div:last-child {
        padding-left: 6rem;
      }

      h1 {
        font-size: 3.5rem;
        margin-bottom: 0.8rem;
      }
    }
  }
}

.navigationButtons {
  padding: 3rem $margin-horizontal 0;
  > * {
    margin-right: 0.5rem;
  }
  .backToWyszukiwarka {
    margin-right: 2rem;
    padding: 1.4rem 1.5rem 1.6rem;
    background-color: $color-primary;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: $color-secondary;
    text-transform: uppercase;
    svg {
      margin-right: 0.5rem;
    }
    &:hover {
      background-color: $color-tetiary;
    }
  }
}

.content {
  width: 100%;
  padding: 2rem $margin-horizontal 0;
  display: flex;

  .contentMain {
    width: 78%;
    background-color: $color-secondary;

    .detailsWrapper {
      @include two-col-grid;
    }

    .localizationWrapper {
      width: 100%;
      .localizationDetailsWrapper {
        margin-top: 2rem;
        @include two-col-grid;
      }
    }

    .images {
      width: 100%;
      @include two-col-grid;
      gap: 1rem;
    }

    .description {
      width: 100%;
      line-height: 2.6rem;
      color: #a3a3a3;
    }
  }

  .contentContactAgent {
    max-height: 49rem;
    width: 22%;
    margin-left: 4rem;
    position: sticky;
    top: 8rem;

    .agentHeader {
      padding: 1.5rem 2rem;
      text-align: center;
      background-color: $color-tetiary;
      font-size: 1.7rem;
      color: $color-secondary;
    }

    .agentPhoto {
      padding: 1rem 2rem;
      overflow: hidden;
    }

    .agentDetails {
      padding: 0 2rem;
      font-size: 1.4rem;
      color: #5b5a5a;

      li {
        margin-top: 1.5rem;
        display: flex;

        .agentDetailIcon {
          font-size: 1.6rem;
          margin-right: 1rem;
        }
      }
    }
  }
}
