@import '../styles/index.scss';

.footer {
  padding: 2rem 10rem;
  background-color: $color-black;
  color: $color-tetiary;
  margin-top: 4rem;
}

.top {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom {
  padding: 1rem 0.5rem 0 0.5rem;
  border-top: 1px solid $color-tetiary;
  font-size: 1.3rem;
}
