// Colors
$color-primary: #05386b;
$color-secondary: #379683;
$color-secondary-2: #5cdb95;
$color-secondary-3: #8ee4af;
$color-tetiary: #edf5e1;
$color-black: #282828;

// Global configs
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  resize: none;
  box-sizing: border-box;
  outline: none;
  color: inherit;
}

html {
  // Wartosc 1rem
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica';
  font-size: 1.6rem;
  font-weight: 400;
}
