// Colors
$color-primary: #00ab58;
$color-secondary: #fff;
$color-tetiary: #111;

// Margins
$margin-horizontal: 12rem;

// Grid
@mixin two-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
