@import './variables.scss';

.filterBar {
  height: 6rem;
  width: 100%;
  background-color: #ffffff;
  position: sticky;
  top: 5rem;
  z-index: 80;
  form {
    width: 100%;
    height: 100%;

    .filterVisible {
      display: flex;
      z-index: 80;
      input,
      button,
      .showMoreFilters {
        padding: 1.5rem;
        border-left: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        flex-grow: 1;
        font-size: 1.2rem;
        font-weight: 600;
      }
      input:first-child {
        flex-grow: 10;
      }
      button {
        padding-left: 3rem;
        padding-right: 3rem;
        background-color: $color-secondary;
        font-size: 1.4rem;
        color: $color-primary;
        transition: 0.2s;
        cursor: pointer;
        border-left: transparent;
        background-color: $color-primary;
        font-size: 2.5rem;
        font-weight: 100;
        color: $color-secondary;
        @include respond(phone) {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
      .showMoreFilters {
        padding-left: 3rem;
        padding-right: 3rem;
        background-color: $color-secondary;
        cursor: pointer;
        font-size: 2.5rem;
        text-align: center;
        &:hover {
          background-color: $color-primary;
          color: $color-secondary;
        }
        @include respond(phone) {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }
}

.filterDropdown {
  width: 100vw;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #e1e1e1;
  background-color: $color-secondary;
  transform: translateY(-100%);
  transition: all 0.2s ease-in;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  opacity: 0;
  visibility: hidden;
  z-index: 70;
  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
  input {
    padding: 1.5rem 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      display: none;
    }
    &:nth-child(1) {
      @include respond(phone-small) {
        display: block;
      }
    }
    &:nth-child(6),
    &:nth-child(7) {
      @media (max-width: 750px) {
        display: block;
      }
    }
    &:nth-child(4),
    &:nth-child(5) {
      @include respond(tab-land) {
        display: block;
      }
    }
  }
}

.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}

.body {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-color: #f9f9f9;
  .header {
    font-size: 5rem;
    @include respond(tab-port) {
      font-size: 2rem;
    }
  }
  .sortBar {
    width: 100%;
    margin: 5rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e1e1e1;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
  }
}

.filterVisible {
  input {
    &:nth-child(1) {
      @include respond(phone-small) {
        display: none;
      }
    }
    &:nth-child(4),
    &:nth-child(5) {
      @media (max-width: 750px) {
        display: none;
      }
    }
    &:nth-child(2),
    &:nth-child(3) {
      @include respond(tab-land) {
        display: none;
      }
    }
  }
}
