.detailField {
  display: flex;
  padding-bottom: 1.5rem;
  color: #5b5a5a;

  .detailFieldIcon {
    margin-right: 1.5rem;
  }

  .detailFieldLabel {
    width: 40%;
  }

  .detailFieldValue {
    font-weight: 600;
  }
}
