@import '../../styles/variables.scss';

.header {
  width: 100%;
  height: 75vh;
  background-color: #fff;
  position: relative;
  display: flex;
  margin-bottom: 4rem;
  @include respond(phone-wide) {
    height: 50.5vh;
  }
}

.image {
  width: 100%;
  height: 80.5vh;
  position: fixed;
  @include respond(phone-wide) {
    height: 60.5vh;
  }
}

.overlay {
  height: 80.5vh;
  width: 100%;
  background-color: rgba(17, 17, 17, 0.329);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-secondary;
  @include respond(phone-wide) {
    height: 60.5vh;
  }
  h1 {
    font-size: 8rem;
    letter-spacing: 0.3rem;
    font-weight: 400;
    text-align: center;
    animation: moveInRight 0.5s ease-out;
    @include respond(tab-land) {
      font-size: 5rem;
    }
    @include respond(phone-wide) {
      font-size: 3rem;
    }
    @include respond(phone-small) {
      font-size: 2rem;
    }
  }
  h2 {
    font-weight: 200;
    letter-spacing: 0.6rem;
    margin-bottom: 2rem;
    animation: moveInLeft 0.5s ease-out;
    text-align: center;
    @include respond(phone-wide) {
      font-size: 1.6rem;
    }
    @include respond(phone-small) {
      font-size: 1.3rem;
    }
  }
  a {
    padding: 1.5rem 4rem;
    background-color: $color-primary;
    font-size: 2rem;
    animation: moveInBottom 0.5s ease-out 0.5s;
    animation-fill-mode: backwards;
    @include respond(phone) {
      padding: 1rem 2rem;
      font-size: 1.4rem;
    }
    &:hover {
      background-color: $color-tetiary;
      transform: scale(0.98);
    }
  }
}
