@import '../../styles/variables.scss';

.nav {
  width: 100%;
  height: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 90;
  background-color: $color-tetiary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  color: $color-secondary;

  .logo {
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $color-primary;
    }
  }

  .links {
    display: flex;
    @include respond(phone) {
      display: none;
    }
    .link {
      padding: 0.6rem 0;
      margin-left: 3.5rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      color: $color-secondary;
      position: relative;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        color: $color-primary;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: -0.3rem;
        width: 0px;
        height: 2px;
        transition-duration: 0.3s;
        opacity: 0;
        background-color: $color-primary;
      }

      &:before {
        left: 50%;
      }

      &:after {
        right: 50%;
      }

      &:hover {
        &:before,
        &:after {
          width: 50%;
          opacity: 1;
        }
      }
    }
  }
}

.smallScreenNav {
  transition: all 0.5s;
  display: none;
  @include respond(phone) {
    display: block;
  }
  .burgerMenu {
    cursor: pointer;
    font-size: 2.3rem;
  }
}
