@import '../../styles/variables.scss';

.recentBlogPost {
  h2 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 3rem;

  .img {
    height: 27rem;
    width: 100%;
    margin-bottom: 2rem;
    background-color: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    color: $color-tetiary;
  }
}

.post {
  height: 38rem;

  h3 {
    display: inline-block;
    transition: all 0.1s;

    &:hover {
      color: $color-primary;
    }
  }

  h4 {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
}

.description {
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 1.2rem;

  p {
    font-weight: 600;
    color: $color-primary;

    span {
      font-weight: 400;
      color: black;
    }
  }
}
