@import '../../styles/variables.scss';

.result {
  width: 100%;
  margin-bottom: 8rem;
  padding: 1rem;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1.5fr 3.5fr 1.5fr;
  grid-template-rows: auto;
  gap: 2rem;
  grid-template-areas:
    'img details priceButton'
    'img details priceButton'
    'img details priceButton';
  transition: all 0.1s;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    background-color: $color-secondary;
    transform: scale(1.02);
    box-shadow: 0.6rem 0.6rem 1.5rem rgb(228, 227, 227);
  }
  @include respond(tab-land) {
    grid-template-areas:
      'img img img'
      'details details details'
      'priceButton priceButton priceButton';
  }
  .images {
    height: 20rem;
    grid-area: img;
    font-size: 5rem;
    color: $color-tetiary;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-secondary;
    @include respond(tab-land) {
      height: 50rem;
    }
    @include respond(tab-port) {
      height: 43rem;
    }
    @include respond(phone-wide) {
      height: 35rem;
    }
    @include respond(phone) {
      height: 30rem;
    }
    @include respond(phone-small) {
      height: 20rem;
    }
    .imgWrapper {
      width: 100%;
      position: relative;
      .img {
        width: 100%;
        height: 20rem;
        @include respond(tab-land) {
          height: 50rem;
        }
        @include respond(tab-port) {
          height: 43rem;
        }
        @include respond(phone-wide) {
          height: 35rem;
        }
        @include respond(phone) {
          height: 30rem;
        }
        @include respond(phone-small) {
          height: 20rem;
        }
      }
      .isAvailableTag {
        padding: 0.5rem 1rem;
        background-color: $color-primary;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3rem;
        color: $color-secondary;
      }
    }
  }

  .details {
    grid-area: details;
    h4,
    h5,
    li {
      margin-bottom: 2rem;
    }
    h4 {
      font-size: 2rem;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        color: $color-primary;
      }
    }
    h5 {
      font-size: 1.6rem;
      font-weight: 300;
    }

    ul {
      @include two-col-grid;
      font-size: 1.3rem;
    }
  }

  .priceAndButton {
    grid-area: priceButton;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    h3 {
      font-size: 3.5rem;
      font-weight: 400;
      text-align: right;
      span {
        font-size: 3rem;
      }
    }
    p {
      margin-top: 1rem;
      margin-bottom: 2rem;
      font-size: 1.8rem;
      color: #999;
      text-align: right;
      span {
        font-size: 1.5rem;
      }
    }
    .buttonLink {
      width: 18rem;
      padding: 1.5rem 2rem;
      background-color: $color-primary;
      transition: all 0.1s;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.6rem;
      color: $color-secondary;
      cursor: pointer;
      @include respond(tab-land) {
        width: 100%;
      }
      &:hover {
        transform: scale(0.98);
        background-color: $color-tetiary;
      }
    }
  }
}
